/*(1)清除默认样式*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input {margin: 0;padding: 0;}

/*去掉input等聚焦时的蓝色边框*/
fieldset,img,input,button {border: 0 none;padding: 0;margin: 0;outline-style: none;}
ul,li,ol {list-style: none;}
select,input {vertical-align: middle;}
select,input,textarea {font-size: 12px;margin: 0;}

/*防止拖动*/
textarea {resize: none;}

img {border: 0;vertical-align: middle;}
a {text-decoration: none;}

/*（2）添加公共样式*/
html,body {
    /* font:14px Arial,Verdana,"\5b8b\4f53"; */
    color:#333;
    background:#fff;
    min-height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-size: 1em;
}

s,i,em {
  font-style: normal;
  text-decoration: none;
}

/* 浮动 */
.fl {float: left;}
.fr {float: right;}

.tac {text-align: center;}

.f12 {font-size: 12px;}
.f14 {font-size: 14px;}
.f16 {font-size: 16px;}
.f18 {font-size: 18px;}

/* 清除浮动 */
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* 单行省略，需要另加宽度 */
.dtext {
  /* width: 320px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 多行省略，需要另加宽度 */
.mtext {
  /* width:200px; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* flex居中 */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 禁止选中 */
.disable {user-select：none;}